legacy-peer-deps=true
# Ignorar vulnerabilidades específicas que são parte do react-scripts e não podem ser facilmente corrigidas
# sem quebrar a aplicação
ignore-vulnerability=nth-check
ignore-vulnerability=postcss 